<!--home page-->

{% extends 'base.html' %}

{% block title %}DIY Money {% endblock %}

{% block nav_active_home %}active" aria-current"page{% endblock %}

{% block body %}
<!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://www.investopedia.com/thmb/l__0yRGdXNiac8kUY8Mj2LxF2uU=/2301x1303/filters:fill(auto,1)/GettyImages-1220909109-00cd067f887a48408340f54ddf0ecb1d.jpg')">
            <div class="text-center my-5">
                <h1 class="text-white fs-2 fw-bolder btn-dark btn-lg">Welcome to DIY Money</h1>
            </div>
        </header>

        <!-- card to sign up-->
        <header class="py-4">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-1 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <p class="fs-4">This fresh new app is here to help you track your net worth and manage your portfolio of assets.</p>
                        <a class="btn btn-dark btn-lg" href="#!">Sign Up Today</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Net Worth Tracking-->
        <section class="py-2">
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Net Worth Tracking</h2>
                        <p class="lead">It is essential you track your net worth on a schedule. Use this app to help track your net worth over time.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cash Flow Management-->
        <section class="py-2">
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Cash Flow Management</h2>
                        <p class="lead">Otherwise known as budgeting, this essential skill is the most important on your road to financial freedom.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Asset Allocation-->
        <section class="py-2">
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Asset Allocation</h2>
                        <p class="lead">Understanding your current asset allocation and what to do when the percentages get off is super important. This new app can help track your portfolio.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Savings Rate-->
        <section class="py-2">
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Saving Rate</h2>
                        <p class="lead">When you know your savings rate and income, you can get a pretty good idea of when you will reach finanical independence.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Dividend Yield-->
        <section class="py-2">
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Dividend Yield</h2>
                        <p class="lead">A dividend yield, otherwise known as a "Yield Shield" shows a yearly dividend amount. Most companies do not reduce their dividend rate, thereby you can realistically count on your dividend year after year</p>
                    </div>
                </div>
        </section>

        <!-- Yearly Contributions-->
        <section class="py-2">
            <div class="container my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>Yearly Contributions</h2>
                        <p class="lead">Keep track of your yearly contributions to your retirement accounts.</p>
                    </div>
                </div>
            </div>
        </section>
        </div>
        </div>

{% endblock %}